.contact-buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
}

.contact-buttons a {
    display: block;
    background-color: #25d366; /* WhatsApp color */
    color: #fff;
    text-align: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.contact-buttons a:first-child {
    background-color: #34b7f1; /* Phone color */
}

.contact-buttons a:hover {
    background-color: #128C7E; /* WhatsApp hover color */
}

.contact-buttons a i {
    vertical-align: middle;
}